[MASTER]

[MESSAGES CONTROL]

disable=broad-except,duplicate-code,attribute-defined-outside-init

[FORMAT]
max-line-length=140

good-names=st,op,fp,t,e,i,j,fd,p

[DESIGN]
max-attributes=15
max-args=10
max-branches=15

[TYPECHECK]

ignored-modules = pyrpio.rpiolib,pyrpio
